<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{client/fragment :: page_head('Vincinema')}" />
<body>
<div th:replace = "~{client/fragment :: nav}" ></div>
<div class="text-center m-3 alert alert-success" th:if ="${message != null}" role="alert">
    [[${message}]]
</div>
<div class="container border rounded" style="width: 550px; height: 300px; margin: 10px auto; padding: 20px 20px 5px;"  >
        <h2 class="text-center form-title">Bạn muốn tìm lại mật khẩu</h2>
        <form  th:action = "@{/forgotPassword}" method="post" >
            <div class="row" >
                <label class="col-12" style="font-size : 13px; color: #222;" >Email</label>
                <input type="email" class="col-12 input "   name="email" required />

            </div>
            <input class="button-auth" type="submit" value="Gởi"  />
            <a  style="color: red;  font-size : 12px;"   th:href="@{/login}" >Quay lại trang đăng nhập</a>
        </form>

    </div>
<div th:replace = "~{client/fragment :: footer}"></div>
</body>
</html>