<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{client/fragment :: page_head('Vincinema')}" />
<body>
<div th:replace = "~{client/fragment :: nav}" ></div>

<div class="container border rounded" style="width: 550px; min-height: 650px; margin: 10px auto; padding: 20px 20px 5px;"  >
    <th:block th:if="${message != null}" >
        <div class="alert alert-warning" role="alert">
            [[${message}]]
        </div>
    </th:block>
    <h2 class="text-center form-title ">ĐĂNG KÍ</h2>
    <form  th:action = "@{/register}" method="post" >
        <div class="row" >
            <label class="col-12" style="font-size : 13px; color: #222;" >Họ</label>
            <input type="text" class="col-12 input "   name="firstName" required />

            <label class="col-12" style="font-size : 13px; color: #222;" >Tên</label>
            <input type="text" class="col-12 input "   name="lastName" required />

            <label class="col-12" style="font-size : 13px; color: #222;" >Email</label>
            <input type="text" class="col-12 input "   name="email" required />

            <label class="col-12" style="font-size : 13px; color: #222;" >Mật khẩu</label>
            <input type="password" class="col-12 input " min="8"  id="password"  name="password" required
                   oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" />

            <label class="col-12" style="font-size : 13px; color: #222;" >Nhập lại mật khẩu</label>
            <input type="password" required class="col-12 input "  id="confirmPassword" oninput="checkPasswordMatch(this)" >
        </div>
        <input class="button-auth" type="submit" value="Đăng kí"  />
    </form>
</div>
<script type="text/javascript">
function checkPasswordMatch(confirmPassword) {
    if (confirmPassword.value != $("#password").val()) {
        confirmPassword.setCustomValidity("Passwords do not match!");
    } else {
        confirmPassword.setCustomValidity("");
    }
}
</script>
<div th:replace = "~{client/fragment :: footer}"></div>
</body>
</html>