<div th:fragment="room-modal">
    <div id="room-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true" style="padding:10px;  margin:0 auto; ">
        <div class="modal-dialog modal-lg" style="margin: 0 auto;">
            <div class="modal-content container">
                <input type="hidden" name="roomId" value="" />

                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Add Room</h5>
                    <button type="button" class="close border rounded" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <!-- Left Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="room-name">Room Name</label>
                                <input type="text" class="form-control" id="room-name" name="name"
                                    placeholder="Enter room name" required />
                            </div>

                            <div class="form-group">
                                <label for="room-width">Width (m)</label>
                                <input type="number" class="form-control" id="room-width" name="width"
                                    placeholder="Enter width" min="1" required />
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="room-length">Length (m)</label>
                                <input type="number" class="form-control" id="room-length" name="length"
                                    placeholder="Enter length" min="1" required />
                            </div>

                            <div class="form-group">
                                <label for="cinema-list-modal">Cinema</label>
                                <select class="form-control" id="cinema-list-modal">
                                    <!-- Options will be dynamically added here -->
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="update-room">UPDATE</button>
                    <button type="button" class="btn btn-primary" id="add-room">ADD</button>
                </div>
            </div>

        </div>
    </div>
</div>