<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{admin/fragment :: page_head('Vincinema Admin')}" />
<body>
<div th:replace = "~{admin/fragment :: sidebar}" ></div>
    <div class="main">
        <div th:replace = "~{admin/fragment :: headers}" ></div>
        <input name="token" th:value="${token}" type="hidden"  />
        <div class="content-container p-3 bg-white shadow rounded" style="width: 1316px ; margin: 10px;">
            <h2 class="text-center my-3">Doanh thu theo phim</h2>
            <div class="search-container row g-3 align-items-center">
                <div class="col-md-4 d-flex align-items-center">
                    <label class="form-label me-2">Từ ngày</label>
                    <input type="date" class="form-control" required name="startDate" th:value="${startDate}" />
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <label class="form-label me-2">Đến ngày</label>
                    <input type="date" class="form-control" required name="endDate" th:value="${endDate}" />
                </div>
                <div class="col-md-4 d-flex justify-content-start">
                    <button class="btn btn-primary me-2" id="drawChart">Tìm kiếm</button>
                    <button class="btn btn-success ml-1" id="exportFile">Xuất báo cáo</button>
                </div>
            </div>

            <div id="chart_sales" class="row my-4" style="height: 400px;">
                <div class="col-md-6 chart-sale-left" ></div>
                <div class="col-md-6 chart-sale-right" ></div>
            </div>

            <div class="chart-table mt-3">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col" style="width: 5%;">STT</th> <!-- 1 Part -->
                        <th scope="col" style="width: 50%;">Tên phim</th> <!-- 5 Parts -->
                        <th scope="col" style="width: 10%;">Số vé bán ra</th> <!-- 1 Part -->
                        <th scope="col" style="width: 30%;">Doanh thu</th> <!-- 3 Parts -->
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
<script type="text/javascript" th:src ="@{/js/common/common.js}" ></script>
<script type="text/javascript" th:src ="@{/js/admin/home.js}" ></script>
<script type="text/javascript" th:src ="@{/js/admin/revenue.js}" ></script>
</body>
</html>