<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{admin/fragment :: page_head('Manage Movie')}" />
<body>
<div th:replace = "~{admin/fragment :: sidebar}" ></div>
<div th:replace = "~{admin/movie/movie-modal :: movie-modal}" ></div>
    <div class="main">
        <div th:replace = "~{admin/fragment :: headers}" ></div>
        <div class="content" >
            <div class="container border rounded shadow-lg p-4 bg-light" style="width: 550px; height: 800px; margin: 10px auto;">
                <h2 class="text-center form-title text-primary mb-4">Thông tin tài khoản</h2>
                <form th:action="@{/admin/profile}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">Email</label>
                        <div  class="form-control border-secondary bg-light" id="email" th:text="${email}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label fw-bold">Họ</label>
                        <input type="text" class="form-control border-primary" id="firstName" name="firstName" th:value="${firstName}">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label fw-bold">Tên</label>
                        <input type="text" class="form-control border-primary" id="lastName" name="lastName" th:value="${lastName}">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label fw-bold">Số điện thoại</label>
                        <input type="tel" class="form-control border-primary" id="phoneNumber" name="phoneNumber" th:value="${phoneNumber}" >
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label fw-bold">Mật khẩu</label>
                        <input type="password" class="form-control border-primary" id="password" name="password" >
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label fw-bold">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control border-primary" id="confirmPassword" name="confirmPassword" >
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary w-100">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript" th:src ="@{/js/common/common.js}" ></script>
<script type="text/javascript" th:src ="@{/js/admin/home.js}" ></script>
<script type="text/javascript" >
    $(document).ready(function(){
        $(".item.active").removeClass("active");
        $(".item.about").addClass("active");
    })
</script>
</body>
</html>